<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">{{heading}}</h1>
      <p class="py-6">
        {{subText}}
      </p>
      {{#if buttonText}}
        <a href={{buttonLink}} class="btn btn-primary">{{buttonText}}</a>
      {{/if}}
    </div>
  </div>
</div>

<!--
<section>
  {{>hero
    heading="test heading"
    subText="test Subtext"
    buttonText="Home"
    buttonLink="/"
  }}
</section>
-->