<section class="flex flex-col">
  <div class="flex justify-center">
    <div class="w-full md:w-3/5 text-center">
      <p>
        Cebu City, Philippines
      </p>
      <p>
        reggietheroman@gmail.com
      </p>

      <a href="https://linkedin.com/in/reggie-bigornia" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-square-linkedin fa-2xl"></i>
      </a>

      <a href="https://github.com/reggietheroman" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-square-github fa-2xl"></i>
      </a>
    </div>
  </div>
</section>
