<div class="flex justify-center">
  <div class="w-full md:w-3/5">
    <div class="collapse collapse-arrow bg-base-100 border border-amber-600">
      <input type="checkbox" checked />
      <div class="collapse-title text-teal-600 font-semibold after:start-5 after:end-auto pe-4 ps-12">Languages</div>
      <div class="collapse-content text-sm flex justify-around flex-wrap gap-2">
        <i class="fa-brands fa-js fa-2xl"></i>
        <i class="fa-brands fa-typescript fa-2xl"></i>
        <i class="fa-brands fa-python fa-2xl"></i>
        <i class="fa-brands fa-markdown fa-2xl"></i>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <div class="w-full md:w-3/5">
    <div class="collapse collapse-arrow bg-base-100 border border-amber-600">
      <input type="checkbox" checked />
      <div class="collapse-title text-teal-600 font-semibold after:start-5 after:end-auto pe-4 ps-12">Frameworks & Libraries</div>
      <div class="collapse-content text-sm flex justify-around flex-wrap gap-2">
        <i class="fa-brands fa-ember fa-2xl"></i>
        <i class="fa-brands fa-react fa-2xl"></i>
        <i class="fa-brands fa-flutter fa-2xl"></i>
        <i>ASP.NET Core</i>
        <i>React Native</i>
        <i>Nest.js</i>
        <i>Express.js</i>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <div class="w-full md:w-3/5">
    <div class="collapse collapse-arrow bg-base-100 border border-amber-600">
      <input type="checkbox" checked />
      <div class="collapse-title text-teal-600 font-semibold after:start-5 after:end-auto pe-4 ps-12">Cloud, DevOps & Platforms</div>
      <div class="collapse-content text-sm flex justify-around flex-wrap gap-2">
        <i class="fa-brands fa-docker fa-2xl"></i>
        <i class="fa-brands fa-cloudflare fa-2xl"></i>
        <i class="fa-brands fa-digital-ocean fa-2xl"></i>
        <i class="fa-brands fa-aws fa-2xl"></i>
        <i>EC2</i>
        <i>S3</i>
        <i>Lambda</i>
        <i>API Gateway</i>
        <i>IAM</i>
        <i>GCP</i>
        <i>Firebase</i>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <div class="w-full md:w-3/5">
    <div class="collapse collapse-arrow bg-base-100 border border-amber-600">
      <input type="checkbox" checked />
      <div class="collapse-title text-teal-600 font-semibold after:start-5 after:end-auto pe-4 ps-12">Databases</div>
      <div class="collapse-content text-sm flex justify-around flex-wrap gap-2">
        <i class="fa-brands fa-postgresql fa-2xl"></i>
        <i>MongoDB</i>
        <i>MySQL</i>
        <i>SQLite</i>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <div class="w-full md:w-3/5">
    <div class="collapse collapse-arrow bg-base-100 border border-amber-600">
      <input type="checkbox" checked />
      <div class="collapse-title text-teal-600 font-semibold after:start-5 after:end-auto pe-4 ps-12">AI Engineering Tools</div>
      <div class="collapse-content text-sm flex justify-around flex-wrap gap-2"> 
        <i class="fa-brands fa-hugging-face fa-2xl"></i>
        <i class="fa-brands fa-claude fa-2xl"></i>
        <i class="fa-brands fa-openai fa-2xl"></i>
        <i>LangChain</i>
        <i>LangGraph</i>
        <i>OpenCode</i>
        <i>Claude Code CLI</i>
        <i>Cursor CLI</i>
        <i>Gemini CLI</i>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <div class="w-full md:w-3/5">
    <div class="collapse collapse-arrow bg-base-100 border border-amber-600">
      <input type="checkbox" checked />
      <div class="collapse-title text-teal-600 font-semibold after:start-5 after:end-auto pe-4 ps-12">Methodologies & Tools</div>
      <div class="collapse-content text-sm flex justify-around flex-wrap gap-2">
        <i class="fa-brands fa-git fa-2xl"></i>
        <i class="fa-brands fa-bitbucket fa-2xl"></i>
        <i class="fa-brands fa-github fa-2xl"></i>
        <i class="fa-brands fa-gitlab fa-2xl"></i>
        <i>CodeShip</i>
        <i>Vite</i>
        <i class="fa-brands fa-npm fa-2xl"></i>
        <i>PNPM</i>
        <i>Pip</i>
        <i>UV</i>
        <i>Maven</i>
        <i class="fa-brands fa-figma fa-2xl"></i>
        <i class="fa-brands fa-obsidian fa-2xl"></i>
        <i class="fa-brands fa-eleventy fa-2xl"></i>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <div class="w-full md:w-3/5">
    <div class="collapse collapse-arrow bg-base-100 border border-amber-600">
      <input type="checkbox" checked />
      <div class="collapse-title text-teal-600 font-semibold after:start-5 after:end-auto pe-4 ps-12">UI & Styling Frameworks</div>
      <div class="collapse-content text-sm flex justify-around flex-wrap gap-2">
        <i class="fa-brands fa-tailwind-css fa-2xl"></i>
        <i class="fa-brands fa-bootstrap fa-2xl"></i>
        <i>daisyUI</i>
        <i>Bulma CSS</i>
      </div>
    </div>
  </div>
</div>
