---
layout: base.hbs
title: ReggieTheRoman | Blog
---

<div class="text-center mb-8">
  <h1 class="text-4xl font-semibold">
    The Blog
  </h1>
  <p class="text-base">
    Just my thoughts
  </p>
</div>

<section id="blog-posts" class="flex flex-col gap-y-8">
  {{#each (to-reversed collections 'blogs') as |blog|}}
    {{#if (remainder @index 2) }}
      {{> card
        primary=true
        cardDate=blog.data.cardDate
        title=blog.data.shortTitle
        content=blog.data.tldr
        buttonText="Read"
        buttonLink=blog.page.url
      }}
    {{else}}
      {{> card
        cardDate=blog.data.cardDate
        title=blog.data.shortTitle
        content=blog.data.tldr
        buttonText="Read"
        buttonLink=blog.page.url
      }}
    {{/if}}
  {{/each}}
  <div class="divider w-full">END</div>
</section>