---
layout: base.hbs
title: ReggieTheRoman | Blog
---

<div class="text-center mb-8">
  <h1 class="text-4xl font-semibold">
    The Blog
  </h1>
  <p class="text-base">
    Just my thoughts
  </p>
</div>

<section id="blog-posts" class="flex flex-col gap-y-8">
  <div class="flex justify-center">
    <div class="card w-96 bg-secondary card-md shadow-sm">
      <div class="card-body">
        <h2 class="card-title">Anchors Away! The HTML anchor tag and URLs</h2>
        <p>
          tl;dr - Its news to me that URLs can be absolute or relative and thats pretty cool.
        </p>
        <div class="justify-end card-actions">
          <a href="/blog/01-html-anchor-tag-and-urls" class="btn btn-primary">Read</a>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <div class="card w-96 bg-primary card-md shadow-sm text-sky-100">
      <div class="card-body">
        <h2 class="card-title">Years of experience but still dumb</h2>
        <p>
          tl;dr - I've been coding professionally for more than 10 years now but stuff still confuses me but its fine. I know what I don't know, and that gives me the ability to figure it out.
        </p>
        <div class="justify-end card-actions">
          <a href="/blog/02-yoe-but-still-dumb" class="btn btn-secondary">Read</a>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <div class="card w-96 bg-secondary card-md shadow-sm">
      <div class="card-body">
        <h2 class="card-title">Writing code was always easy</h2>
        <p>
          tl;dr - I figured out that I don't have difficulty writing syntax. I have a lack of understanding of programming concepts that makes doing certain things difficult.
        </p>
        <div class="justify-end card-actions">
          <a href="/blog/03-writing-code-was-always-easy" class="btn btn-primary">Read</a>
        </div>
      </div>
    </div>
  </div>
</section>