---
layout: base.hbs
title: ReggieTheRoman | CV
---

<div class="flex justify-center mb-8">
  <a href="../assets/Reginald_Bigornia_Senior_FullStack_Engineer.pdf" class="btn btn-success" download>
    <i class="fa-regular fa-file-pdf"></i>
    Download CV
  </a>
</div>
<div class="flex justify-center">
  <section class="prose text-justify">
      {{{markdown-to-html '../_includes/cv/content.md'}}}
  </section>
</div>
