---
layout: base.hbs
title: ReggieTheRoman | Fun Stuff
---

<section>
  {{> card
    title="Godot Platformer"
    content="My first godot game! This is a simple platformer based on the Brackeys godot tutorial"
    buttonText="Check it out!"
    buttonLink="https://game-dev.reggietheroman.com/"
    openNew=true
  }}
</section>
