---
layout: home.hbs
title: ReggieTheRoman
---

<section class="flex justify-center">
  <div class="w-full md:w-3/5">
    <h1 class="text-3xl font-semibold">
      Hi there! I'm Reginald Roman Bigornia,
    </h1>
    <h2 class="text-xl">
      Reggie for short.
    </h2>
    <p class="mt-4">
      I'm a Full-stack Engineer and Technical Consultant with 10+ years of experience spanning software architecture, DevOps, and team leadership.
    </p>
    <p class="mt-4">
      I'm currently working out how agents and LLMs fits into my workflows.
    </p>
  </div>
</section>
